
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2.title {
    text-align: center;
}

button.add {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; 
    color: #ffffff; 
    background-color: black; 
    border-width: 0; 
    height: 30px; 
    font-size: 1rem;
}